header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 2rem 8rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  background:#fff;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007bff;
}

.active {
  border-top: 3px solid rgb(0, 174, 255);
}

.header-title {
  padding: 8px;
}
.cyan-background{
  background-color: rgb(131, 215, 216);
}

