
<div class="search-section">
  <div class="carousel-container">
    <div class="carousel-slide active">
      <h1 class="search-title">I'm looking for...</h1>
      <form>
        <div class="upper-form full-width" style="display: flex;justify-content: space-between;">
          <div style="width: 70%;">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Enter a Job Description</mat-label>
              <input matInput placeholder="Enter a Job Description" />
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" type="submit">
              <mat-icon>search</mat-icon>
              Search
            </button>
          </div>
        </div>
    
        <div class="options" style="display: flex;justify-content: space-between; width: 70%;">
          <div style="display: flex;gap: 1rem;">
            <mat-checkbox>Full Time</mat-checkbox>
            <mat-checkbox>Part Time / Casual / Freelance</mat-checkbox>
          </div>
    
          <div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Select your Location</mat-label>
              <mat-select>
                <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    
    </div>
    <div class="carousel-slide">
      <h1 class="search-title">I'm looking for...</h1>
      <form>
        <div class="upper-form full-width" style="display: flex;justify-content: space-between;">
          <div style="width: 70%;">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Enter a Job Description</mat-label>
              <input matInput placeholder="Enter a Job Description" />
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" type="submit">
              <mat-icon>search</mat-icon>
              Search
            </button>
          </div>
        </div>
    
        <div class="options" style="display: flex;justify-content: space-between; width: 70%;">
          <div style="display: flex;gap: 1rem;">
            <mat-checkbox>Full Time</mat-checkbox>
            <mat-checkbox>Part Time / Casual / Freelance</mat-checkbox>
          </div>
    
          <div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Select your Location</mat-label>
              <mat-select>
                <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    
    </div>
    <div class="carousel-slide">
      <h1 class="search-title">I'm looking for...</h1>
      <form>
        <div class="upper-form full-width" style="display: flex;justify-content: space-between;">
          <div style="width: 70%;">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Enter a Job Description</mat-label>
              <input matInput placeholder="Enter a Job Description" />
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" type="submit">
              <mat-icon>search</mat-icon>
              Search
            </button>
          </div>
        </div>
    
        <div class="options" style="display: flex;justify-content: space-between; width: 70%;">
          <div style="display: flex;gap: 1rem;">
            <mat-checkbox>Full Time</mat-checkbox>
            <mat-checkbox>Part Time / Casual / Freelance</mat-checkbox>
          </div>
    
          <div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Select your Location</mat-label>
              <mat-select>
                <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    
    </div>
    <div class="carousel-slide">
      <h1 class="search-title">I'm looking for...</h1>
      <form>
        <div class="upper-form full-width" style="display: flex;justify-content: space-between;">
          <div style="width: 70%;">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Enter a Job Description</mat-label>
              <input matInput placeholder="Enter a Job Description" />
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" type="submit">
              <mat-icon>search</mat-icon>
              Search
            </button>
          </div>
        </div>
    
        <div class="options" style="display: flex;justify-content: space-between; width: 70%;">
          <div style="display: flex;gap: 1rem;">
            <mat-checkbox>Full Time</mat-checkbox>
            <mat-checkbox>Part Time / Casual / Freelance</mat-checkbox>
          </div>
    
          <div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Select your Location</mat-label>
              <mat-select>
                <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    
    </div>
  </div>

  <div style="display: flex;align-items: center; justify-content: center;">
    <button (click)="register()" mat-raised-button class="register" color="accent">
      <mat-icon>person_add</mat-icon>
      Register
    </button>
  </div>

  <div class="carousel-dots">
    <span class="dot active" (click)="changeSlide(0)"></span>
    <span class="dot" (click)="changeSlide(1)"></span>
    <span class="dot" (click)="changeSlide(2)"></span>
    <span class="dot" (click)="changeSlide(3)"></span>
  </div>
</div>
