
.search-section {
    padding: 0.2rem 15rem;
    position: relative;
}

.search-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
  font-style: italic;
}

.carousel-dots .dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.carousel-dots .dot.active {
  background-color: #717171;
}

.mat-input-element {
  font-size: 1.6rem;
}

.mat-form-field-label {
  font-size: 1.2rem;
}

.search-section::after {
  content: '';
  display: block;
  height: 4px;
  background: repeating-linear-gradient(
    90deg,
    rgb(25, 170, 227),
    rgb(131, 215, 216),
    rgb(77, 136, 134),
    rgb(25, 170, 227),
    rgb(131, 215, 216),
    rgb(77, 136, 134)
  );
  position: absolute;
  left: 0;
  right: 0;
}

.search-section::before {
  top: 0;
}

.search-section::after {
  bottom: 0;
}

.carousel-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: none;
  width: 100%;
  box-sizing: border-box;
}

.carousel-slide.active {
  display: block;
}

.carousel-dots {
  text-align: center;
  padding:5px 0;
}

.carousel-dots .dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.carousel-dots .dot.active {
  background-color: #717171;
}